<section id="about" class="about-container">
    <div class="section-square"></div>
    <h2>About Me</h2>
    <p class="body-text">
      I am a passionate full-stack web developer who transforms ideas into
      immersive digital experiences. With a blend of creativity and
      technical expertise, I bridge the gap between design and
      functionality, weaving code into seamless user journeys. My mission is
      to turn your vision into a reality by building web solutions that not
      only look stunning but also perform flawlessly. Let's embark on a
      digital adventure together, where innovation knows no bounds.
    </p>
    <p class="body-text">
      As a full-stack web developer, I've been on an exciting journey, and
      it all began with Team Treehouse's TechDegree program. Through their
      comprehensive curriculum and supportive community, I've had the
      privilege to delve deep into the world of web development. This
      immersive learning experience has empowered me to craft a portfolio
      filled with impressive projects that showcase my skills and
      creativity. Thanks to Team Treehouse, I've not only gained the
      knowledge and expertise, but also the confidence to tackle any web
      development challenge that comes my way.
    </p>
    <a class="btn" href="#">Download my Resume</a>
  </section>
